.login{
  height: 100vh;
  background-color: #c1beff;
  display: flex;
  justify-content: center;
  align-items: center;
  .card{
    display: flex;
    width: 50%;
    border-radius: 10px;
    min-height: 600px;
    background-color: #fff;
    .left{
      flex: 1;
      background-image: url('https://images.pexels.com/photos/3228727/pexels-photo-3228727.jpeg');
      background-size: cover;
      h1{}
      p{}
      span{}
      button{}
    }
    .right{
      flex: 1;
      h2{}
      form{
        input{}
        button{}
      }
    }
  }
}